.swiper {
  width: 600px;
  height: 320px;

  @media (max-width: 768px) {
    width: 350px;
    height: 300px;
    margin-bottom: 20px;
  }
}

.swiper-slide {
  width: 100%;
  img {
    border-radius: 10px;
  }
}
h3 {
  text-align: center;
}
.item-list {
  margin-top: 32px;
  margin: 8px;
  padding: 16px;
  ol {
    list-style: georgian;
  }
}

.item {
  margin: 8px;
  letter-spacing: 1px;
}
.swiper-button-next,
.swiper-button-prev {
  @media (max-width: 768px) {
    display: none;
  }
}
