.sinopse-content {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: -50px;

  img {
    border-radius: 18px;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    display: block;
    padding: 8px;
    img {
      width: 100%;
    }
  }
  p {
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
  }
}
