@use "reset";
@use "variables";
@use "nav";
@use "theme";
@use "scrollbar";
@use "scrollToTop";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");

html {
  background-color: variables.$corDeFundo;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.section-title-01 {
  font-size: 3.5em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, red 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-80px);
}

.section-title-02:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}
